<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ManterAutomovelController</servlet-name>
        <servlet-class>controller.ManterAutomovelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCompradorController</servlet-name>
        <servlet-class>controller.ManterCompradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterEstadoController</servlet-name>
        <servlet-class>controller.ManterEstadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterMarcaController</servlet-name>
        <servlet-class>controller.ManterMarcaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterPessoaController</servlet-name>
        <servlet-class>controller.ManterPessoaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterVendasController</servlet-name>
        <servlet-class>controller.ManterVendasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterVendedorController</servlet-name>
        <servlet-class>controller.ManterVendedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaAutomovelController</servlet-name>
        <servlet-class>controller.PesquisaAutomovelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaCompradorController</servlet-name>
        <servlet-class>controller.PesquisaCompradorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaEstadoController</servlet-name>
        <servlet-class>controller.PesquisaEstadoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaMarcaController</servlet-name>
        <servlet-class>controller.PesquisaMarcaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaPessoaController</servlet-name>
        <servlet-class>controller.PesquisaPessoaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaVendasController</servlet-name>
        <servlet-class>controller.PesquisaVendasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaVendedorController</servlet-name>
        <servlet-class>controller.PesquisaVendedorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaDAO</servlet-name>
        <servlet-class>dao.MarcaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BD</servlet-name>
        <servlet-class>dao.BD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersistenteUtil</servlet-name>
        <servlet-class>dao.PersistenteUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersistenceUtil</servlet-name>
        <servlet-class>dao.PersistenceUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutomovelDAO</servlet-name>
        <servlet-class>dao.AutomovelDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompradorDAO</servlet-name>
        <servlet-class>dao.CompradorDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoDAO</servlet-name>
        <servlet-class>dao.EstadoDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PessoaDAO</servlet-name>
        <servlet-class>dao.PessoaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendasDAO</servlet-name>
        <servlet-class>dao.VendasDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendedorDAO</servlet-name>
        <servlet-class>dao.VendedorDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TratamentoExcecao</servlet-name>
        <servlet-class>exception.TratamentoExcecao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManterAutomovelController</servlet-name>
        <url-pattern>/ManterAutomovelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCompradorController</servlet-name>
        <url-pattern>/ManterCompradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterEstadoController</servlet-name>
        <url-pattern>/ManterEstadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterMarcaController</servlet-name>
        <url-pattern>/ManterMarcaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterPessoaController</servlet-name>
        <url-pattern>/ManterPessoaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterVendasController</servlet-name>
        <url-pattern>/ManterVendasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterVendedorController</servlet-name>
        <url-pattern>/ManterVendedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaAutomovelController</servlet-name>
        <url-pattern>/PesquisaAutomovelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaCompradorController</servlet-name>
        <url-pattern>/PesquisaCompradorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaEstadoController</servlet-name>
        <url-pattern>/PesquisaEstadoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaMarcaController</servlet-name>
        <url-pattern>/PesquisaMarcaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaPessoaController</servlet-name>
        <url-pattern>/PesquisaPessoaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaVendasController</servlet-name>
        <url-pattern>/PesquisaVendasController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaVendedorController</servlet-name>
        <url-pattern>/PesquisaVendedorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaDAO</servlet-name>
        <url-pattern>/MarcaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BD</servlet-name>
        <url-pattern>/BD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersistenteUtil</servlet-name>
        <url-pattern>/PersistenteUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersistenceUtil</servlet-name>
        <url-pattern>/PersistenceUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutomovelDAO</servlet-name>
        <url-pattern>/AutomovelDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompradorDAO</servlet-name>
        <url-pattern>/CompradorDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoDAO</servlet-name>
        <url-pattern>/EstadoDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PessoaDAO</servlet-name>
        <url-pattern>/PessoaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendasDAO</servlet-name>
        <url-pattern>/VendasDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendedorDAO</servlet-name>
        <url-pattern>/VendedorDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TratamentoExcecao</servlet-name>
        <url-pattern>/TratamentoExcecao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
